	{% load static %}
	<div class="services gutter" id="services">
		<!--<div class="primary_text">Services</div>-->
		<div class="subprimary_text">what we do?</div>
		<div class="service_wrapper">
			<div class="service_item">
				<div class="icon">
					<i class="fas fa-handshake"></i>
				</div>
				<div class="secondary_text">Connect</div>
				<p>We connect buyers to sellers. You will find anything you want here! First, search your product, if it's not listed submit a request. A buyer will be there for you!</p>
				<div class="btn_white"><a href="#">Read More</a></div>
			</div>
			<div class="service_item">
				<div class="icon">
					<i class="fas fa-bullhorn"></i>
				</div>
				<div class="secondary_text">Marketing</div>
				<p>When you use BAE, you benefit from its global and modern marketing strategy and ensure that your products reach reach their buyers quickly!</p>
				<div class="btn_white"><a href="#">Read More</a></div>
			</div>
			<div class="service_item">
				<div class="icon">
					<i class="fas fa-question"></i>
				</div>
				<div class="secondary_text">Support</div>
				<p>We are always available to help, serve, or guide you with any kind of request you may have. We reply quickly and ensure you find the attention that your case requires.</p>
				<div class="btn_white"><a href="#">Read More</a></div>
			</div>

		</div>
	</div>